.composition
  position: relative
  &__photo
    position: absolute
    width: 55%
    @include hoveringShadowSmall
    border-radius: 2px
    transition: all .2s
    outline-offset: 0rem
    outline: .1rem solid $color-primary

    &--p1
      left: 0
      top: -1rem
    &--p2
      right: 0
      top: 3rem
    &--p3
      left: 15%
      top: 10rem

    &:hover
      outline-offset: 1rem
      outline: 1.5rem solid $color-primary
      transform: scale(1.1) translateY(-0.5rem)
      box-shadow: 0 3rem 5rem rgba($color-black, .5)
      z-index: 10
      animation: expandOutline .3s ease-in
      cursor: pointer

  &:hover &__photo:not(:hover)
    box-shadow: 0 1rem 3rem rgba($color-black, .3)
    transform: scale(.95)
