body
  font-family: "Lato", sans-serif
  font-weight: 400
  font-size: $f-default
  line-height: 1.7
  color: $color-grey-dark-2
  text-align: left

.heading-primary
  font-family: charmingExpanded
  color: $color-ahssun
  white-space: nowrap
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black
  &--main
    //text-transform: uppercase
    font-size: 10rem
    font-weight: 400
    letter-spacing: .6rem
    animation: moveInLeft 2s ease-out
    @include respond(tab-port)
      letter-spacing: .3rem
      font-size: 9rem
    @include respond(phone)
      letter-spacing: .2rem
      font-size: 7rem

  &--sub
    color: $color-ahssun
    font-size: 2.8rem
    letter-spacing: 0.5rem
    font-weight: 400
    left: 0
    animation: moveInFront 2s ease-out
    margin-bottom: 2rem
    @include respond(phone)
      letter-spacing: .2rem
      font-size: 2rem

.heading-secondary
  font-family: charmingExpanded
  font-size: 5rem
  font-weight: 700
  display: inline-block
  background-image: linear-gradient(to right, rgba($color-primary-light-2, .9), rgba($color-primary-dark-2, .9))
  -webkit-background-clip: text
  color: transparent
  letter-spacing: .2rem
  transition: all .2s
  animation: moveInLeft 1s ease
  @include respond(tab-port)
    font-size: 4rem
  @include respond(phone)
    font-size: 3.5rem

  &:hover
    transform: skewY(2deg) skewX(15deg) scale(1.1)
    text-shadow: .5rem 1rem 2rem rgba(darken($color-primary-dark, 20%), 0.3)

.heading-tertiary
  text-align: left
  font-size: $f-default
  font-weight: 700
  text-transform: uppercase

.paragraph
  text-align: left
  font-size: $f-default
  &:not(:last-child)
    margin-bottom: 3rem
